<h1>Angular Marker Cluster</h1>
<p><a href="https://angular-maps.com/" target="_blank">Made with Angular Maps</a></p>
<br>
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">
  <!-- Here you can find more options for the cluster directive
  https://angular-maps.com/api-docs/js-marker-clusterer/directives/AgmMarkerCluster.html
  https://github.com/SebastianM/angular-google-maps/blob/master/packages/js-marker-clusterer/directives/marker-cluster.ts -->
  <agm-marker-cluster
  minimumClusterSize = 5
  imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">

  <agm-marker
      *ngFor="let m of stationsArr; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.latitude"
      [longitude]="m.longitude"
      [iconUrl]="getIconUrl(m.free_bikes)"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">

    <agm-info-window>
      <div>Carburante rimaso: {{m.free_bikes}}</div>
    </agm-info-window>

  </agm-marker>
</agm-marker-cluster>

</agm-map>
